:root {
	--red: #ff243e;
	--shadow: 0 1px 3px 0 rgba(0,0,0,.18);
	--grey: #565454;
	--border: #dddddd;
	--background: #fff;
	--darken-red-20: #eb102a;
	--darken-background-10: #f5f5f5;
	--darken-background-20: #ebebeb;
	--colorToRgb-red-0-10: rgba(255,36,62,0.1);
	--darken-red-50: #cd000c;
	--lighten-red-20: #ff3852;
	--darken-fff-50: #cdcdcd;
	--lighten-fff-50: #ffffff;
	--darken-border-50: #ababab;
	--lighten-grey-30: #747272;
}
.button,
.button__icon,
.align-items\:center{
	align-items: center
}
.align-items\:flex-end{
	align-items: flex-end
}
table thead{
	-webkit-backdrop-filter: blur(12px);
	        backdrop-filter: blur(12px)
}
.backdrop-filter\:blur\(5px\){
	-webkit-backdrop-filter: blur(5px);
	        backdrop-filter: blur(5px)
}
::-moz-selection{
	background: var(--darken-red-20)
}
::selection{
	background: var(--darken-red-20)
}
body{
	background: var(--background)
}
dialog{
	background: #fff
}
hr,
.button.button--white.button--disabled{
	background: #eee
}
table pre,
table  code{
	background: #ddd
}
.background\:darken\(\$background\,10\){
	background: var(--darken-background-10)
}
.background\:darken\(\$background\,20\){
	background: var(--darken-background-20)
}
.background\:rgba\(0\,0\,0\,0\.5\){
	background: rgba(0,0,0,0.5)
}
.background\:\#1e2431{
	background: #1e2431
}
.\[a\.s-active\:\:before\]\{width\:8px\;height\:8px\;background\:\#ff2c21\;border-radius\:4px\;position\:absolute\;top\:50\%\;transform\:translateY\(-50\%\)\;left\:0\} a.s-active::before{
	background: #ff2c21
}
.background\:linear-gradient\(to_right\,\$red\,\$red\){
	background: linear-gradient(to right,var(--red),var(--red))
}
.button:hover,
.button.button--outline:hover{
	background: var(--colorToRgb-red-0-10)
}
.button:focus,
.button.button--outline:focus{
	background: var(--colorToRgb-red-0-10)
}
.button.button--solid:hover{
	background: var(--darken-red-50)
}
.button.button--solid:focus{
	background: var(--lighten-red-20)
}
.button.button--white:hover{
	background: var(--darken-fff-50)
}
.button.button--white:focus{
	background: var(--lighten-fff-50)
}
.button,
.button.button--disabled{
	background: none
}
.button.button--solid{
	background: var(--red)
}
.button.button--solid.button--disabled{
	background: #e3dfe3
}
.button.button--white{
	background: #fff!important
}
.background-color\:\${
	background-color: $
}
.background-image\:linear-gradient\(\#f5f5fa_0\,\#fff_90\%\){
	background-image: linear-gradient(#f5f5fa 0,#fff 90%)
}
.background-image\:linear-gradient\(rgba\(255\,255\,255\,\.2\)\,rgba\(255\,255\,255\,0\)\){
	background-image: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,0))
}
.button,
.border\:none{
	border: none
}
hr{
	border: 0
}
.border\:1px_solid_\#1e2431{
	border: 1px solid #1e2431
}
.button{
	border: 2px solid transparent
}
.button.button--outline.button--disabled{
	border: #e4e0e3
}
.border\:1px_solid_\$border{
	border: 1px solid var(--border)
}
table td,
table  th{
	border-bottom: 1px solid #f1f1f1
}
table tr:last-of-type td{
	border-bottom: 0
}
.border-bottom\:1px_solid_\$border{
	border-bottom: 1px solid var(--border)
}
.button.button--outline{
	border-color: var(--red)
}
.hover\:border-color\:darken\(\$border\,50\):hover{
	border-color: var(--darken-border-50)
}
.\[pre\]\{margin\:0\;border-radius\:8px\;height\:auto\;max-height\:70vh\;overflow\:auto\;width\:100\%\} pre,
.\[\.cm-editor\]\{min-height\:100\%\;border-radius\:8px\} .cm-editor,
.border-radius\:8px{
	border-radius: 8px
}
.border-radius\:50px{
	border-radius: 50px
}
.border-radius\:2px{
	border-radius: 2px
}
.\[a\.s-active\:\:before\]\{width\:8px\;height\:8px\;background\:\#ff2c21\;border-radius\:4px\;position\:absolute\;top\:50\%\;transform\:translateY\(-50\%\)\;left\:0\} a.s-active::before,
.border-radius\:4px{
	border-radius: 4px
}
.border-radius\:200px{
	border-radius: 200px
}
table{
	border-spacing: 0
}
*{
	box-sizing: border-box
}
::-moz-selection{
	color: #fff
}
::selection,
.button.button--solid,
.color\:\#fff{
	color: #fff
}
body,
.button.button--white{
	color: #222
}
a,
.button,
.button.button--outline,
.\[a\:hover\,a\.s-active\]\{color\:\$red\} a:hover,
.\[a\:hover\,a\.s-active\]\{color\:\$red\} a.s-active,
.color\:\$red{
	color: var(--red)
}
article h1 a,
article  h2 a,
article  h3 a,
article  h4 a,
article  h5 a,
article  h6 a{
	color: #fefefe
}
article h1:hover a,
article  h2:hover a,
article  h3:hover a,
article  h4:hover a,
article  h5:hover a,
article  h6:hover a{
	color: red
}
.\[a\]\{color\:\$text\;font-size\:20px\;md\:font-size\:32px\;font-weight\:bold\;transition\:color_\.3s\} a,
.color\:\$text{
	color: var(--text)
}
.color\:\#f1f1f1{
	color: #f1f1f1
}
.hover\:color\:red:hover{
	color: red
}
.\[a\]\{font-size\:24px\;color\:inherit\;text-decoration\:none\;hover\:color\:\$red\} a,
.\[a\]\{margin-top\:12px\;padding-left\:12px\;color\:inherit\;transition\:transform_\.3s\;text-decoration\:none\;hover\:transform\:translateX\(8px\)\} a,
.\[a\]\{font-size\:24px\;text-decoration\:none\;color\:inherit\} a,
.color\:inherit{
	color: inherit
}
.\[a\]\{font-size\:24px\;color\:inherit\;text-decoration\:none\;hover\:color\:\$red\} a:hover,
.\[a\]\{color\:\$grey\;hover\:color\:\$red\;text-decoration\:none\} a:hover,
.\[a\]\{color\:\#000\;text-decoration\:none\;font-size\:32px\;hover\:color\:\$red\} a:hover{
	color: var(--red)
}
.\[a\]\{color\:\$grey\;hover\:color\:\$red\;text-decoration\:none\} a,
.\[a\]\{text-decoration\:none\;color\:\$grey\;hover\:color\:\$primary\} a,
.color\:\$grey{
	color: var(--grey)
}
.\[a\]\{text-decoration\:none\;color\:\$grey\;hover\:color\:\$primary\} a:hover{
	color: var(--primary)
}
.\[a\]\{color\:\#000\;text-decoration\:none\;font-size\:32px\;hover\:color\:\$red\} a{
	color: #000
}
.button.button--solid.button--disabled,
.button.button--outline.button--disabled,
.button.button--disabled{
	color: #aaa7ab
}
.button.button--white.button--disabled{
	color: #888
}
a,
article h1,
article  h2,
article  h3,
article  h4,
article  h5,
article  h6,
.button{
	cursor: pointer
}
.button.button--solid.button--disabled,
.button.button--white.button--disabled,
.button.button--outline.button--disabled,
.button.button--disabled{
	cursor: default
}
dialog:not([open]),
details summary::-webkit-details-marker,
.\[\[data-tab\]\:not\(\.s-active\)\]\{display\:none\} [data-tab]:not(.s-active){
	display: none
}
.\[section_nav\]\{display\:flex\;flex-direction\:column\;gap\:8px\} section nav,
.display\:flex{
	display: flex
}
.display\:grid{
	display: grid
}
.button,
.button__icon,
.display\:inline-flex{
	display: inline-flex
}
.\[\&\[hidden\]\]\{display\:none\!important\}[hidden]{
	display: none!important
}
article img{
	filter: brightness(.8) contrast(1.2)
}
.flex\:1{
	flex: 1
}
.flex-direction\:column-reverse{
	flex-direction: column-reverse
}
.\[section_nav\]\{display\:flex\;flex-direction\:column\;gap\:8px\} section nav,
.flex-direction\:column{
	flex-direction: column
}
.flex-direction\:row{
	flex-direction: row
}
.flex-shrink\:0{
	flex-shrink: 0
}
.flex-wrap\:wrap{
	flex-wrap: wrap
}
html{
	font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif
}
html{
	font-size: 62.5%
}
body,
article,
.button,
.font-size\:16px{
	font-size: 1.6rem;
	line-height: 2.72rem
}
article h1{
	font-size: 3rem;
	line-height: 3.5999999999999996rem
}
article h2{
	font-size: 2.6rem;
	line-height: 4.42rem
}
article h3,
.\[a\]\{color\:\$text\;font-size\:20px\;md\:font-size\:32px\;font-weight\:bold\;transition\:color_\.3s\} a{
	font-size: 2rem;
	line-height: 3.4rem
}
article .note,
article  note *,
.font-size\:14px{
	font-size: 1.4rem;
	line-height: 2.38rem
}
.\[a\]\{font-size\:24px\;color\:inherit\;text-decoration\:none\;hover\:color\:\$red\} a,
.\[a\]\{font-size\:24px\} a,
.button__icon,
.\[a\]\{font-size\:24px\;text-decoration\:none\;color\:inherit\} a,
.font-size\:24px{
	font-size: 2.4rem;
	line-height: 4.08rem
}
.\[a\]\{color\:\#000\;text-decoration\:none\;font-size\:32px\;hover\:color\:\$red\} a,
.font-size\:32px{
	font-size: 3.2rem;
	line-height: 3.84rem
}
.font-size\:48px{
	font-size: 4.8rem;
	line-height: 5.76rem
}
.font-size\:64px{
	font-size: 6.4rem;
	line-height: 7.68rem
}
.\[\[data-tab\]_p\]\{font-size\:18px\;md\:font-size\:20px\} [data-tab] p,
.font-size\:18px{
	font-size: 1.8rem;
	line-height: 3.06rem
}
.font-size\:22px{
	font-size: 2.2rem;
	line-height: 3.74rem
}
.font-size\:24px\;text-decoration\:none\;color\:inherit{
	font-size: 24px;text-decoration:none;color:inherit
}
.\[a\]\{color\:\$text\;font-size\:20px\;md\:font-size\:32px\;font-weight\:bold\;transition\:color_\.3s\} a,
.font-weight\:bold{
	font-weight: bold
}
.button{
	font-weight: 700
}
.font-weight\:400{
	font-weight: 400
}
.gap\:24px{
	gap: 24px
}
.\[section_nav\]\{display\:flex\;flex-direction\:column\;gap\:8px\} section nav,
.gap\:8px{
	gap: 8px
}
.gap\:12px{
	gap: 12px
}
.gap\:64px{
	gap: 64px
}
.gap\:16px{
	gap: 16px
}
.grid-template-columns\:repeat\(auto-fit\,minmax\(250px\,1fr\)\){
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr))
}
.grid-template-columns\:1fr_2fr_1fr{
	grid-template-columns: 1fr 2fr 1fr
}
.grid-template-columns\:repeat\(auto-fill\,minmax\(350px\,1fr\)\){
	grid-template-columns: repeat(auto-fill,minmax(350px,1fr))
}
hr{
	height: 1px
}
.\[pre\]\{margin\:0\;border-radius\:8px\;height\:auto\;max-height\:70vh\;overflow\:auto\;width\:100\%\} pre,
.height\:auto{
	height: auto
}
.height\:100\%{
	height: 100%
}
.height\:50px{
	height: 50px
}
.\[a\.s-active\:\:before\]\{width\:8px\;height\:8px\;background\:\#ff2c21\;border-radius\:4px\;position\:absolute\;top\:50\%\;transform\:translateY\(-50\%\)\;left\:0\} a.s-active::before{
	height: 8px
}
.height\:4px{
	height: 4px
}
.inset\:0{
	inset: 0
}
.button,
.button__icon,
.justify-content\:center{
	justify-content: center
}
.justify-content\:space-between{
	justify-content: space-between
}
.justify-content\:flex-end{
	justify-content: flex-end
}
table thead,
.\[a\.s-active\:\:before\]\{width\:8px\;height\:8px\;background\:\#ff2c21\;border-radius\:4px\;position\:absolute\;top\:50\%\;transform\:translateY\(-50\%\)\;left\:0\} a.s-active::before,
.left\:0{
	left: 0
}
.button{
	letter-spacing: 0.1px
}
.letter-spacing\:-2px{
	letter-spacing: -2px
}
.button{
	line-height: 1
}
.button__icon{
	line-height: 20px
}
body,
.\[pre\]\{margin\:0\;border-radius\:8px\;height\:auto\;max-height\:70vh\;overflow\:auto\;width\:100\%\} pre{
	margin: 0
}
article .note{
	margin: 16px 0
}
article .example-editor{
	margin: 24px 0
}
.margin\:0_-8px{
	margin: 0 -8px
}
.margin\:12px_0{
	margin: 12px 0
}
.margin\:0_auto{
	margin: 0 auto
}
.margin\:0_auto_24px_auto{
	margin: 0 auto 24px auto
}
.margin\:0_0_4px_0{
	margin: 0 0 4px 0
}
li p:last-of-type,
article h2,
article h3,
article h4{
	margin-bottom: 0
}
article h1{
	margin-bottom: 8px
}
.margin-bottom\:4px{
	margin-bottom: 4px
}
.margin-bottom\:48px{
	margin-bottom: 48px
}
.margin-bottom\:32px{
	margin-bottom: 32px
}
.margin-bottom\:24px{
	margin-bottom: 24px
}
.margin-bottom\:180px{
	margin-bottom: 180px
}
.margin-bottom\:20px{
	margin-bottom: 20px
}
.margin-bottom\:12px{
	margin-bottom: 12px
}
.margin-left\:\${
	margin-left: $
}
.container{
	margin-left: auto
}
.container{
	margin-right: auto
}
.button__icon{
	margin-right: 4px
}
li p:first-of-type,
article,
article h1,
article h1 + p,
article  h2 + p,
article  h3 + p,
article  h4 + p,
article  h5 + p,
article  h6 + p,
article pre,
.\[h3\]\{text-transform\:uppercase\;margin-top\:0\} h3,
.\[p\]\{margin-top\:0\} p,
.margin-top\:0{
	margin-top: 0
}
article h2{
	margin-top: 48px
}
article h3{
	margin-top: 32px
}
article h4,
.margin-top\:24px{
	margin-top: 24px
}
.margin-top\:8px{
	margin-top: 8px
}
.\[a\]\{margin-top\:12px\;padding-left\:12px\;color\:inherit\;transition\:transform_\.3s\;text-decoration\:none\;hover\:transform\:translateX\(8px\)\} a,
.margin-top\:12px{
	margin-top: 12px
}
.margin-top\:200px{
	margin-top: 200px
}
.margin-top\:64px{
	margin-top: 64px
}
.\[pre\]\{margin\:0\;border-radius\:8px\;height\:auto\;max-height\:70vh\;overflow\:auto\;width\:100\%\} pre{
	max-height: 70vh
}
.max-height\:40px{
	max-height: 40px
}
img,
video,
article img{
	max-width: 100%
}
.max-width\:80px{
	max-width: 80px
}
.max-width\:520px{
	max-width: 520px
}
.max-width\:900px{
	max-width: 900px
}
.max-width\:380px{
	max-width: 380px
}
.container{
	max-width: 1400px
}
.container--sm{
	max-width: 1000px!important
}
.container--lg{
	max-width: 1600px!important
}
.container--xl{
	max-width: 1920px!important
}
.max-width\:1000px{
	max-width: 1000px
}
.max-width\:800px{
	max-width: 800px
}
.\[\.cm-editor\]\{min-height\:100\%\;border-radius\:8px\} .cm-editor{
	min-height: 100%
}
.min-height\:180px{
	min-height: 180px
}
.min-height\:200px{
	min-height: 200px
}
table{
	min-width: 100%
}
.button__icon{
	min-width: 20px
}
img,
video,
.object-fit\:contain{
	-o-object-fit: contain;
	   object-fit: contain
}
.object-fit\:cover{
	-o-object-fit: cover;
	   object-fit: cover
}
input::-moz-placeholder{
	opacity: 1
}
input::placeholder,
.\[\&\:hover\>div\]\{opacity\:1\}:hover>div{
	opacity: 1
}
.opacity\:0{
	opacity: 0
}
textarea,
.button{
	outline: none
}
.\[pre\]\{margin\:0\;border-radius\:8px\;height\:auto\;max-height\:70vh\;overflow\:auto\;width\:100\%\} pre,
.overflow\:auto{
	overflow: auto
}
.overflow\:hidden{
	overflow: hidden
}
table td,
table  th{
	padding: 8px
}
table th,
.padding\:4px{
	padding: 4px
}
.padding\:12px{
	padding: 12px
}
.padding\:0_8px{
	padding: 0 8px
}
.padding\:32px_64px{
	padding: 32px 64px
}
.padding\:32px_96px{
	padding: 32px 96px
}
.padding\:2px{
	padding: 2px
}
.button{
	padding: 8px 12px
}
.padding\:16px{
	padding: 16px
}
.padding\:24px_24px_0_24px{
	padding: 24px 24px 0 24px
}
.padding-bottom\:24px{
	padding-bottom: 24px
}
.\[a\]\{margin-top\:12px\;padding-left\:12px\;color\:inherit\;transition\:transform_\.3s\;text-decoration\:none\;hover\:transform\:translateX\(8px\)\} a{
	padding-left: 12px
}
.container{
	padding-left: 8px
}
.container{
	padding-right: 8px
}
.pointer-events\:none{
	pointer-events: none
}
table thead{
	position: sticky
}
.position\:relative{
	position: relative
}
.\[a\.s-active\:\:before\]\{width\:8px\;height\:8px\;background\:\#ff2c21\;border-radius\:4px\;position\:absolute\;top\:50\%\;transform\:translateY\(-50\%\)\;left\:0\} a.s-active::before,
.position\:absolute{
	position: absolute
}
.position\:fixed{
	position: fixed
}
*{
	scroll-behavior: smooth
}
*{
	scroll-margin-top: 80px
}
h1,
h2,
h3,
h4,
h5,
h6{
	scroll-margin-top: 100px
}
.container{
	scroll-margin-top: 50px
}
table th{
	text-align: left
}
.text-align\:center{
	text-align: center
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.\[a\]\{font-size\:24px\;color\:inherit\;text-decoration\:none\;hover\:color\:\$red\} a,
.\[a\]\{margin-top\:12px\;padding-left\:12px\;color\:inherit\;transition\:transform_\.3s\;text-decoration\:none\;hover\:transform\:translateX\(8px\)\} a,
.\[a\]\{color\:\$grey\;hover\:color\:\$red\;text-decoration\:none\} a,
.\[a\]\{color\:\#000\;text-decoration\:none\;font-size\:32px\;hover\:color\:\$red\} a,
.\[a\]\{text-decoration\:none\;color\:\$grey\;hover\:color\:\$primary\} a,
.button,
.\[a\]\{font-size\:24px\;text-decoration\:none\;color\:inherit\} a,
.text-decoration\:none{
	text-decoration: none
}
.text-shadow\:0_1px_1px_rgba\(0\,0\,0\,0\.2\){
	text-shadow: 0 1px 1px rgba(0,0,0,0.2)
}
.\[h3\]\{text-transform\:uppercase\;margin-top\:0\} h3,
.text-transform\:uppercase{
	text-transform: uppercase
}
.text-wrap\:balance{
	text-wrap: balance
}
table thead,
.top\:0{
	top: 0
}
.\[a\.s-active\:\:before\]\{width\:8px\;height\:8px\;background\:\#ff2c21\;border-radius\:4px\;position\:absolute\;top\:50\%\;transform\:translateY\(-50\%\)\;left\:0\} a.s-active::before{
	top: 50%
}
.\[a\]\{margin-top\:12px\;padding-left\:12px\;color\:inherit\;transition\:transform_\.3s\;text-decoration\:none\;hover\:transform\:translateX\(8px\)\} a:hover{
	transform: translateX(8px)
}
.\[a\.s-active\:\:before\]\{width\:8px\;height\:8px\;background\:\#ff2c21\;border-radius\:4px\;position\:absolute\;top\:50\%\;transform\:translateY\(-50\%\)\;left\:0\} a.s-active::before{
	transform: translateY(-50%)
}
.transition\:opacity_\.3s{
	transition: opacity .3s
}
.\[a\]\{margin-top\:12px\;padding-left\:12px\;color\:inherit\;transition\:transform_\.3s\;text-decoration\:none\;hover\:transform\:translateX\(8px\)\} a{
	transition: transform .3s
}
.button{
	transition: background 0.3s
}
.\[a\]\{color\:\$text\;font-size\:20px\;md\:font-size\:32px\;font-weight\:bold\;transition\:color_\.3s\} a{
	transition: color .3s
}
.button{
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none
}
.button{
	white-space: nowrap
}
.\[pre\]\{margin\:0\;border-radius\:8px\;height\:auto\;max-height\:70vh\;overflow\:auto\;width\:100\%\} pre,
.width\:100\%{
	width: 100%
}
.width\:50px{
	width: 50px
}
.\[a\.s-active\:\:before\]\{width\:8px\;height\:8px\;background\:\#ff2c21\;border-radius\:4px\;position\:absolute\;top\:50\%\;transform\:translateY\(-50\%\)\;left\:0\} a.s-active::before{
	width: 8px
}
.width\:0{
	width: 0
}
.button__icon{
	width: 20px
}
.width\:200px{
	width: 200px
}
.will-change\:opacity{
	will-change: opacity
}
table td,
table  th{
	word-break: keep-all
}
article{
	word-break: break-word
}
.z-index\:4{
	z-index: 4
}

@media (min-width: 640px) {
.sm\:\{max-width\:300px\;min-width\:calc\(100\%_\*_1\/3_-_16px\)\}{
	max-width: 300px
}
.sm\:\{max-width\:300px\;min-width\:calc\(100\%_\*_1\/3_-_16px\)\}{
	min-width: calc(100% * 1/3 - 16px)
}
}

@media (min-width: 768px) {
.md\:display\:grid{
	display: grid
}
article h1{
	font-size: 3.4rem;
	line-height: 4.08rem
}
.\[\[data-tab\]_p\]\{font-size\:18px\;md\:font-size\:20px\} [data-tab] p,
.md\:font-size\:20px{
	font-size: 2rem;
	line-height: 3.4rem
}
.md\:font-size\:48px{
	font-size: 4.8rem;
	line-height: 5.76rem
}
.\[a\]\{color\:\$text\;font-size\:20px\;md\:font-size\:32px\;font-weight\:bold\;transition\:color_\.3s\} a{
	font-size: 3.2rem;
	line-height: 3.84rem
}
.md\:\{font-size\:18px\;padding\:12px\;line-height\:1\}{
	font-size: 1.8rem;
	line-height: 3.06rem
}
.md\:\{font-size\:24px\;padding\:24px\;line-height\:1\}{
	font-size: 2.4rem;
	line-height: 4.08rem
}
.md\:grid-template-columns\:50\%_50\%{
	grid-template-columns: 50% 50%
}
.md\:\{font-size\:18px\;padding\:12px\;line-height\:1\},
.md\:\{font-size\:24px\;padding\:24px\;line-height\:1\}{
	line-height: 1
}
.md\:margin\:0_-12px{
	margin: 0 -12px
}
table td,
table  th{
	padding: 8px 12px
}
.button{
	padding: 12px 24px
}
.md\:\{font-size\:18px\;padding\:12px\;line-height\:1\}{
	padding: 12px
}
.md\:\{font-size\:24px\;padding\:24px\;line-height\:1\}{
	padding: 24px
}
.container{
	padding-left: 12px
}
.container{
	padding-right: 12px
}
}

@media (min-width: 1024px) {
.lg\:\{display\:grid\;grid-template-columns\:30\%_70\%\}{
	display: grid
}
.lg\:\{flex-direction\:column\;gap\:24px\}{
	flex-direction: column
}
.lg\:gap\:100px{
	gap: 100px
}
.lg\:gap\:120px{
	gap: 120px
}
.lg\:\{flex-direction\:column\;gap\:24px\}{
	gap: 24px
}
.lg\:\{display\:grid\;grid-template-columns\:30\%_70\%\}{
	grid-template-columns: 30% 70%
}
.lg\:margin\:0_-24px{
	margin: 0 -24px
}
.lg\:padding\:0{
	padding: 0
}
.container{
	padding-left: 24px
}
.container{
	padding-right: 24px
}
}

@media (min-width: 1280px) {
.xl\:margin\:0{
	margin: 0
}
}

@media (max-width: 1279px) {
.toxl\:\{grid-auto-flow\:column\;min-width\:max-content\}{
	grid-auto-flow: column
}
.toxl\:\{grid-auto-flow\:column\;min-width\:max-content\}{
	min-width: -moz-max-content;
	min-width: max-content
}
}

@media (max-width: 1023px) {
.tolg\:flex-direction\:column{
	flex-direction: column
}
.tolg\:\{flex-wrap\:wrap\;justify-content\:center\;margin-bottom\:24px\},
.tolg\:flex-wrap\:wrap{
	flex-wrap: wrap
}
.tolg\:\{flex-wrap\:wrap\;justify-content\:center\;margin-bottom\:24px\}{
	justify-content: center
}
.tolg\:\{flex-wrap\:wrap\;justify-content\:center\;margin-bottom\:24px\}{
	margin-bottom: 24px
}
}

@media (max-width: 639px) {
.tosm\:\{flex-direction\:column\;border-top\:1px_solid_lighten\(\$grey\,30\)\}{
	border-top: 1px solid var(--lighten-grey-30)
}
.tosm\:\{flex-direction\:column\;border-top\:1px_solid_lighten\(\$grey\,30\)\}{
	flex-direction: column
}
}
