---
import MainLayout from '@mainLayout';
---

<MainLayout
	pageTitle="Page not found"
	pageDescription="The page you are looking for doesn't exist."
	pageRobots="noindex,nofollow"
>
	<section class="container text-align:center">
		<h1 class="font-size:32px md:font-size:48px">Page not found</h1>
		<p class="font-size:24px font-weight:bold">
			¯\_(ツ)_/¯
		</p>
		<a href="/" class="font-size:24px">
			<i class="icon-arrow-right-circle transform:rotate(180deg) position:relative display:inline-flex"></i>
			<span>Back to main page</span>
		</a>
	</section>
</MainLayout>
