---
import Editor from '@components/Editor.astro';

const code = `
<dialog dialog="hello-world">
	Hello World!<br><br>
	<button dialog-close="hello-world">Close</button>
</dialog>

<button dialog-open="hello-world">Open Dialog</button>

<script type="module">
	import Signalize from '/src/assets/signalizejs/dist/signalize.js';
	import dialog from '/src/assets/signalizejs/dist/modules/dialog.js';

	// Use the dialog plugin
	new Signalize({ plugins: [ dialog() ] })
</script>
`.trim();
---

<Editor code={code} />
