---
import Editor from '@components/Editor.astro';
import { createImportMapJson } from '@services/importmap.mjs';

const importmap = createImportMapJson(['hyperscript', 'signal']);

const code = `
<div id="app"></div>

<script type="importmap">${importmap}</script>

<script type="module">
	import Signalize from 'signalizejs';
	const { resolve } = new Signalize();

	const { h, signal } = await resolve('hyperscript', 'signal');
	// Create text signal
	const text = signal('Change me!');

	document.querySelector('#app').replaceWith(
		// Create elements
		h('div', { id: 'app' },
			// Bind text signal to element attributes
			h('input', { value: text }),
			h('div', text)
		)
	);
</script>
`.trim();
---

<Editor code={code} />
