---
import { Image } from 'astro:assets';

const { limit } = Astro.props;

const items = [
	{
		name: 'Travellingvisio.com',
		img: 'travellingvisiocom.png',
		url: 'https://travellingvisio.com',
		techStack: ['symfony-white.svg'],
	},
	{
		name: 'FitVisio.com',
		img: 'fitvisio.png',
		url: 'https://fitvisio.com',
		techStack: ['symfony-white.svg'],
	},
	{
		name: 'Prace.dev',
		img: 'pracedev.png',
		url: 'https://prace.dev',
		techStack: ['symfony-white.svg'],
	},
	{
		name: 'Ucitelstvi.cz',
		img: 'ucitelstvicz.png',
		url: 'https://ucitelstvi.cz',
		techStack: ['symfony-white.svg'],
	},
	{
		name: 'Signalizejs.com',
		img: 'signalizejscom.png',
		url: 'https://signalizejs.com',
		techStack: ['astro.svg'],
	},
	{
		name: 'Vyletujem.cz',
		img: 'vyletujemcz.png',
		url: 'https://vyletujem.cz',
		techStack: ['symfony-white.svg'],
	},
];

const showCarousel = limit !== null && limit <= 6;
const itemsList = limit === null ? items : items.slice(0, limit);
---

<div class={`${showCarousel ? 'padding:0_8px overflow:auto margin:0_-8px md:margin:0_-12px lg:margin:0_-24px xl:margin:0 lg:padding:0' : ''}`}>
	<div class={`${showCarousel ? ' toxl:{grid-auto-flow:column;min-width:max-content}' : ''} display:flex gap:24px justify-content:center flex-wrap:wrap`}>
		{itemsList.map((item) => (
				<a href={`${item.url}?ref=signalizejs.com`} target="_blank" rel="noopener nofollow" class="
					position:relative text-decoration:none border:1px_solid_#1e2431 border-radius:8px overflow:hidden sm:{max-width:300px;min-width:calc(100%_*_1/3_-_16px)}
					[&:hover>div]{opacity:1}
				">
					<Image src={`/images/showcase/${item.img}`} format="webp" alt="" loading="lazy" fetchpriority="low" quality={80} width={400} height={200} background="rgba(0,0,0,0)" fit="contain" class="width:100% min-height:200px object-fit:cover display:flex" />
					<div class="color:#f1f1f1 opacity:0 padding:12px background:rgba(255,255,255,0.5) transition:opacity_.3s will-change:opacity backdrop-filter:blur(5px) position:absolute inset:0 display:flex align-items:center justify-content:center flex-direction:column">
						<div class="md:font-size:20px text-align:center"><strong class="color:#000">{ item.name }<br>{ item.description ? item.description : '' }</strong></div>
						{typeof item.techStack !== 'undefined' &&
							<div>
								<span>Tech Stack:</span>
								<div class="display:flex flex-wrap:wrap gap:8px">
									{
										item.techStack.map((stackImage) => (
											<img src={`/images/brands/${stackImage}`} alt="" width="80px" height="40px" loading="lazy" fetchpriority="low" class="padding:4px object-fit:contain border-radius:8px background:#1e2431 max-height:40px max-width:80px height:auto width:100% display:flex" />
										))
									}
								</div>
							</div>
						}
					</div>
				</a>
		))}
	</div>
</div>
